# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local data (if large)
data/landing/**/raw_files/

# Databricks exports (if any)
*.dbc